<h1>Catalogo de cartas coleccionables</h1>

<a
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#createCardModal"
>Crea tu carta</a>

<!-- Mi lista de cartas -->
<div class="row">
  {{#each cards}}
    <div class="col-md-4">
      <div class="card card-item"
           data-card-id="{{ id }}"
           style="width: 18rem;">
        <img src="{{avatar}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
          <a href="/cards/{{ id }}" class="card-link">
            <i class="bi bi-currency-dollar"></i> Buy {{price}} ETH
          </a>

          <a href=""
             class="btn btn-danger float-end delete-card-item"
             data-card-id="{{ id }}"
             data-bs-toggle="modal"
             data-bs-target="#deleteCardModal"
          >
            <i class="bi bi-x-lg"></i>
          </a>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="createCardModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear nueva tarjeta</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Cerrar"
        ></button>
      </div>
      <form method="POST" action="/cards">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Nombre de la carta</label>
            <input
              type="text"
              name="name"
              class="form-control"
              aria-describedby="cardHelp"
            />
            <div id="cardHelp" class="form-text">El nombre de tu carta</div>
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <input
              type="text"
              name="description"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Precio</label>
            <input
              type="text"
              name="price"
              class="form-control"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Cerrar</button>
          <input type="submit"
                 id="create-card-button"
                 class="btn btn-primary"
                 value="Guardar"
                 disabled="disabled"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar Carta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estás seguro de que quieres eliminarla?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="/delete_card" id="delete-card-button" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>